
<div class=wrapper"">

  <div class="row">

    <div class="column">

      <form accept-charset="UTF-8" action="/letter" data-remote="true" method="post">
        <textarea name = "intext" class="ttt"><%= session[:intext] %></textarea>
        <button text="перевести" class="left top text" id="next">Накатать маляву</button>
      </form>

    </div>

    <div id="column_scene-wrapper" class="column">

      <div>
        <textarea name = "outtext" disabled="disabled" class="ttt"><%= session[:outtext] %></textarea>
      </div>

    </div>

  </div>

</div>
