
<div class=wrapper"">

  <div class="row">

    <div class="column">

      <form accept-charset="UTF-8" action="/letter" data-remote="true" method="post">
        <input name="inptext" class="ttt" type="text"/>
        <button text="перевести" class="left top text" id="next">Далее</button>
      </form>

    </div>

    <div id="column_scene-wrapper" class="column">

      <div>
        <%= session[:varout] %>
      </div>

    </div>

  </div>

</div>


